<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p><%= @event.title %> is in two weeks!</p>
    <p>Find a gift on Gift Wrap: <%= @url %></p>
  </body>
</html>
